@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

.BannerAbout {
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 63px 100px 43px 100px;
}

.imgAbout {
    filter: brightness(0.7);
}

/*---------------------------------------------------*/
.bodyAbout {
    max-width: 1240px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.itemAbout,
.bloc {
    padding-bottom: 33px;
    width: 100%;
}

.dropdownAbout {
    font-size: 18px;
    height: 47px;
    background-color: #FF6060;
    color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-left: 100px;
    margin-right: 100px;
}

.sous-titre {
    font-family: Montserrat;
    padding-left: 18.08px;
    font-size: 24px;
}

.arrow {
    padding-right: 16.08px;
}

.bloc-text {
    height: auto;
    border-radius: 10px;
    background-color: #F7F7F7;
    color: #FF6060;
    padding-top: 40px;
    padding-bottom: 53px;
    margin-left: 100px;
    margin-right: 100px;
}

.paragraphe {
    padding-left: 18px;
    padding-right: 27px;
    font-size: 24px;
    font-family: Montserrat;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 1024px) {
    .BannerAbout {
        margin: 17px 19px 19px 20px;
    }

/*---------------------------------------------------*/
    .dropdownAbout {
        margin-left: 20px;
        margin-right: 19px;
    }

    .bloc-text {
        margin-left: 20px;
        margin-right: 19px;
        font-size: 24px;
    }
}

@media screen and (max-width: 475px) {
    .BannerAbout {
        height: 223px;
    }

/*---------------------------------------------------*/
    .dropdownAbout{
        height: 30px;
        border-radius: 5px;
        margin: 0 20px;
    }

    .sous-titre {
        font-size: 13px;
        padding-left: 11.51px;
    }

    .arrow {
        width: 18.46px;
        height: 18.42px;
        padding-right: 5.77px;
    }

    .bloc-text {
        height: auto;
        padding-top: 23.08px;
        margin: 0 20px;
    }

    .paragraphe {
        font-size: 12px;
    }

    .bloc {
        padding-bottom: 20px;
    }
}