.Container {
    background-color: #F7F7F7;
    height: 100%;
    border-radius: 25px;
    margin: 0 100px 43px 100px;
}

.logement-list {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 50px 60px;
    padding: 56px 0 56px 50px;
}