.rightArrow {
    position: absolute;
    right: 20px;
    width: 46.68px;
    height: 79.2px;
    color: #fff;
}

.leftArrow {
    position: absolute;
    left: 20px;
    width: 46.68px;
    height: 79.2px;
    color: #fff;
}