.logement-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    max-width: 340px;
    max-height: 340px;
}

.logement-item-cover {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
    display: block;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)); */
}

.logement-item p {
    list-style-type: none;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
    
}